body {
    margin: 0;
}

main {
    padding: 16px;
    background-color: #f2e4dc
}
h3 {
    padding: 0px;
    font-size: 20px;
    color: chocolate

}

#grid-funct {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 300px 300px;

}

.star_font_size {
    font-size: 20px;
    color: #f25c05

}
footer {
    padding: 24px 0;
    background-color: #ffaa0b;
    font-weight: 700;
}

img {
    height: 200px;
}

nav {
    padding: 16px;
    border: 1px black;
    font-weight: 700
}

header {
    background-color: #ffaa0b;
    color: white
}

h1 {
    color: #0e89b2
}

a:visited {
    color: #0e89b2
}

h2 {
    color: #f25c05
}

#grey1 {
    background-color: lightgray;
}
#grey1:hover {
    color: red
}
#grey2:hover {
    color: red
}
#grey3 {
    background-color: lightgray;
}
#grey3:hover {
    color: red
}
#grey4:hover {
    color: red
}
#grey5 {
    background-color: lightgray;
}
#grey5:hover {
    color: red
}

#star-change:hover {
    font-size: 25px





}
